@media (max-width: 768px){

    .top{
        width: 100%;
    }
    .topimage{
        max-width: 100%;
        max-height: 100%;
    }
    .adv{
        object-fit: cover;
        max-width: 100%;
        height: 800px;
    }
    .mid{
        width: 96%;
        height: auto;
    }
    .advside{
        width: 100%;
    }   
    .menuside{
        width: 100%;
        height: auto;
    }
    .bot{
        width: 100%;
    }
}
@media (min-width: 770px) and (max-width: 1280px){
    .top{
        width: 100%;
    }
    .menuside{
        width: 30%;
    }
    .mid{
        width: 66%;
    }
    .advside{
        width: 100%;
        clear: both;
    }
    .bot{
        width: 100%;
    }
    
}